@mixin FancyButton($color){
    background-color: color-mix(in srgb, $color, transparent 75%);;
    border: 1px solid $color;
    font-weight: lighter;
    border-radius: .25em;
    width: max-content;
    padding: 5px 20px;
    color: white;
    outline: none;

    &:disabled{
        opacity: .7;
    }

    &:not(:disabled){
        cursor: pointer;
    }

    &:not(:disabled):is(:hover, :focus){
        background-color: color-mix(in srgb, $color, transparent 50%);;
    }
}

@mixin FancyInput($background){
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    min-height: 40px;
    display: block;
    color: white;
    height: 100%;

    & > div{
        background-color: $background;
        position: absolute;
        padding: 0 5px;
        top: -14px;
        left: 5px;
    }

    & > input{
        border-radius: inherit;
        box-sizing: border-box;
        padding: 5px 10px;
        background: none;
        color: white;
        height: 40px;
        border: none;
        width: 100%;
    }
}