@mixin FancyButton($color){
    background-color: color-mix(in srgb, $color, transparent 75%);;
    border: 1px solid $color;
    font-weight: lighter;
    border-radius: .25em;
    width: max-content;
    padding: 5px 20px;
    
    color: white;
    outline: none;

    &:disabled{
        opacity: .7;
    }

    &:not(:disabled){
        cursor: pointer;
    }

    &:not(:disabled):is(:hover, :focus){
        background-color: color-mix(in srgb, $color, transparent 50%);;
    }
}